.article__title {
  margin: 0 0 15px;

  @include usual-font;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 900;
}

.article__img {
  position: relative;
  overflow: hidden;
  img {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &:hover:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(21, 21, 30, 0.5);
    cursor: pointer;
  }
  &:hover:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;

    width: 30px;
    height: 30px;
    background: url(../img/icons/flag.svg) no-repeat center;
  }
}
