.exhibition {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin: 30px auto;
  box-sizing: border-box;
  height: 310px;
  width: 288px;

  background: $black;
}
.exhibition__wrapper {
  margin-top: 75px;
}
.exhibition__title {
  margin: 0 auto;
  padding: 40px 0;
  width: 280px;
  text-align: center;
  font-size: 30px;
  color: $white;
  text-transform: uppercase;
}

.exhibition__btn {
  position: relative;
  @include basic-btn(rgba($black, 0.3), $white, 170px);
  padding-right: 35px;
  margin-bottom: 40px;

  font-size: 12px;
  border: 1px solid $accent;

  transition: all 0.4s linear;

  &:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 5px;

    width: 25px;
    height: 24px;
    background-image: url(../img/icons/arrow.svg);

    transform: translateY(-50%);
  }
  &:hover {
    background: $black;
  }
  &:hover:after {
    right: 3px;
  }
}

.exhibition--ballet {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
  width: 100%;
  height: 176px;

  background: url(../img/exhibitions/ballet.jpg) no-repeat top;
  background-size: 100%;
  .exhibition__btn {
    margin: 40px;
    padding-right: 35px;
  }
  .exhibition__title {
    @include usual-font;
    max-width: 400px;
  }
}

.exhibition--balloons {
  background: $white;
  background: url(../img/exhibitions/balloons.jpg) no-repeat center;
  .exhibition__btn {
    background: $accent;
  }
  .exhibition__title {
    color: $black;
  }
}

.exhibition--photo {
  background: url(../img/exhibitions/photo.jpg) no-repeat center 30%;
}

.exhibition--birds {
  background: url(../img/exhibitions/birds.jpg) no-repeat center 30%;
}

@media (min-width: $tablet) {
}

@media (min-width: $desktop) {
  .exhibition__wrapper {
    position: absolute;
    right: 0px;
    top: 7px;
    margin-top: 0;
  }
  .exhibition {
    width: 370px;
    height: 479px;
  }
  .exhibition--ballet {
    margin: 80px 0;
    width: 770px;
    height: 176px;
    background-image: url(../img/exhibitions/ballet-desktop.jpg);
  }
}
