.news__list {
  @include reset-list;
}

.news__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 30px;

  overflow: hidden;

  a {
    @include reset-link;
  }
}

.news__item:not(:first-child) {
  img {
    width: 127px;
  }
}

.news__content {
  width: 52.1%;

  font-size: 10px;
  line-height: 120%;
}

.news__content__title {
  margin: 0 0;

  font-size: 14px;
  line-height: 19px;
}

.news__item:first-child {
  position: relative;

  .news__content {
    position: absolute;
    bottom: 20px;
    left: 15px;
    width: 90%;

    font-size: 14px;
  }

  .news__content_title {
    margin: 15px 0;
    font-size: 20px;
    line-height: 27px;
  }
}

@media (min-width: $tablet) {
  .news__list {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    grid-template-rows: 91px 91px 91px;
    grid-row-gap: 15px;
    grid-column-gap: 16px;
  }
  .news__item {
    justify-content: flex-start;

    max-width: 100%;
    margin-bottom: 0;
  }

  .news__img {
    margin-right: 10px;
  }
  .news__content {
    line-height: 150%;
  }

  .news__item:first-child {
    grid-row-start: 1;
    grid-row-end: 4;
    .news__img {
      margin-right: 0;
      width: 100%;
      max-width: 470px;
      max-height: 100%;
    }
  }
}

@media (min-width: $desktop) {
}
