.reviews__list {
  @include reset-list;
}

@keyframes showlist {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.reviews__item {
  width: 100%;
  animation: showlist 0.3s linear;
}
.reviews__img {
  width: 100%;
}

.reviews__content__title {
  margin: 15px 0;
  font-size: 23px;
}

.reviews__content {
  width: 100%;
  font-size: 14px;
  a {
    @include reset-link;
  }
}

@media (min-width: $tablet) {
  .reviews__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 16px;
  }
}

@media (min-width: $desktop) {
  .reviews__item {
    width: 371px;
  }
}
